.about-us {
    &__header {
        @include blockPadding;
        background-color: $lightYellow;
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include tablet {
            min-height: 100%;
            padding-top: 6rem;
            padding-bottom: 7rem;
        }
        @include mobile {
            flex-direction: column;
            padding-top: 8.5rem;
        }

        .about-header-image {
            width: 45%;
            transform: translateY(180px);
            @include tablet {
                transform: translateY(50px);
            }
            @include mobile {
                width: 90%;
                transform: translateY(0);
                margin-bottom: 2.5rem;
            }

            img {
                width: 100%;
            }
        }

        .about-header-heading {
            h1 {
                @include headingExtraLarge;
                white-space: nowrap;
            }
        }
    }

    &__message {
        @include blockPadding;
        padding-top: 13rem;
        padding-bottom: 13rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile {
            flex-direction: column;
        }

        .about-message-content {
            width: 60%;
            @include mobile {
                width: 100%;
                margin-bottom: 2.5rem;
            }

            h3 {
                @include subhead;
                margin-bottom: 1rem;
            }

            h1 {
                @include headingMedium;
                margin-bottom: 1rem;
            }

            p {
                @include bodyText;
            }
        }

        .about-message-image {
            width: 30%;
            @include mobile {
                width: 100%;
            }

            img {
                width: 100%;
            }
        }
    }

    &__breakdown {

    }
}