.questions {
    background-color: $lightGray;
    padding: 5rem 6rem;
    @include tablet-down {
        padding: 5rem 3rem;
    }
    &__header {
        margin-bottom: 5rem;

        p {
            font-size: $paragraph;
            line-height: $paragraphLH;
            font-family: 'Bebas Neue', cursive;
            @include tablet-down {
                font-size: $paragraphSmall;
                line-height: $paragraphSmallLH;
            }
        }

        h1 {
            font-size: $headerLarge;
            line-height: $headerLargeLH;
            text-transform: uppercase; 
            font-family: 'Bebas Neue', cursive;
            @include tablet-down {
                font-size: $paragraph;
                line-height: $paragraphLH;
            }
        }
    }

    &__carousel {
        
        .carousel-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10rem;
            @include tablet-down {
                flex-direction: column;
                margin-bottom: 5rem;
            }
            
            .carousel-card {
                display: block;
                height: 350px;
                width: 550px;
                background-color: $white;
                border: 4px solid $black;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                padding: 2.5rem;
                z-index: 1;
                transition: all 1s ease-in-out;
                animation: fade 1s ease-in-out;
                @include tablet-down {
                    height: 250px;
                    width: 100%;
                    margin-bottom: 5rem;
                }
    
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -1.5rem;
                    left: .5rem;
                    background-color: $white;
                    height: 350px;
                    width: 550px;
                    border: 4px solid $black;
                    z-index: -1;
                    transition: all 1s ease-in-out;
                    @include tablet-down {
                        height: 250px;
                        width: 100%;
                    }
                }
    
                h2 {
                    text-transform: uppercase;
                    font-family: 'Bebas Neue', cursive;
                    font-size: $headerMedium;
                    line-height: $headerMediumLH;
                    transition: all 1s ease-in-out;
                    @include tablet-down {
                        font-size: $paragraph;
                        line-height: $paragraphLH;
                    }
                }
            }
    
            .carousel-img {
                display: block;
                width: 40%;
                transition: all 1s ease-in-out;
                animation: fade 1s ease-in-out;
                
                img {
                    transition: all 1s ease-in-out;
                    width: 100%;
                }

                @include tablet-down {
                    width: 70%;
                    min-width: 250px;
                }
            }
        }

        .carousel-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            width: 15rem;

            .control {
                width: 5rem;
                cursor: pointer;

                img {
                    width: 100%;
                }
            }
        }
    }
}

@keyframes move-out-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}