.contact {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    @include tablet {
        padding-top: 6rem;
    }

    &__heading {
        @include blockPadding;
        background-color: $lightYellow;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @include tablet {
            margin: 0 auto;
            flex-direction: column;
        }
        @include phone {
            margin: 0 auto;
        }

        .contact-heading-image {
            width: 100%;
            max-width: 600px;
            min-width: 400px;
            margin-right: 1.9rem;
            @include tablet {
                margin-bottom: 3rem;
            }

            img {
                width: 100%;
            }
        }

        h1 {
            @include headingExtraLarge;
        }
    }

    &__form {
        @include blockPadding;
        width: 100%;
        margin: 0 auto;
        padding-top: 5rem;
        display: flex;
        
        @include tablet {
            width: 100%;
            flex-direction: column;
        }

        h1 {
            @include headingMedium;
            text-align: center;
            margin-bottom: 4rem;
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            width: 60%;
            @include tablet {
                width: 100%;
                order: 1;
            }

            label {
                @include subhead;
                color: $darkBlue;
                margin-bottom: .5rem;
            }

            input, textarea {
                border: 2px solid $darkBlue;
                padding: .7rem;
                font-size: $tiny;
                outline: transparent;
                width: 100%;
                margin-bottom: 1.5rem;
                color: $darkBlue;
            }

            .name-fields {
                display: flex;
                justify-content: space-between;
                input {
                    width: 50%;
                    &:nth-child(1) {
                        margin-right: .5rem;
                    }
                    &:nth-child(2) {
                        margin-left: .5rem;
                    }
                }
            }

            input[type=submit] {
                @include cta;
                color: $armyGreen;
                border-color: $armyGreen;
                font-weight: 700;
                max-width: 15rem;
                align-self: flex-start;
            }
        }
    }

    .contact--socials {
        padding-top: 8rem;
        padding-right: 3rem;
        margin: 2rem auto;
        margin-top: 0;
        text-align: left;
        color: $darkBlue;
        font-size: $small-medium;
        line-height: $lh-small-medium;
        width: 40%;

        p {
            font-family: "rust-base";

            a {
                font-family: "labrador-light";
            }
        }
        @include tablet {
            padding-top: 0rem;
            font-size: $small;
            line-height: $lh-small;
            order: 2;
            text-align: center;
            padding-right: 0;
            margin-top: 5rem;
        }

        p {
            margin-bottom: .7rem;;
        }
    }
}