.contact {
    background-color: #A3E0DA;
    display: flex;
    @include blockPadding;
    overflow-x: hidden;
    @include tablet {
        flex-direction: column;
        padding-top: 6rem;
    }

    &__heading {
        background-color: #A3E0DA;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        margin-right: 1rem;
        transform: translateX(-100px);
        max-width: 650px;
        @include tablet {
            width: 50%;
            transform: translateX(0);
            margin: 0 auto;
            order: 2;
            padding-top: 5rem;
        }
        @include phone {
            width: 100%;
            transform: translateX(0);
            margin: 0 auto;
            order: 2;
            padding-top: 5rem;
        }

        .contact-heading-image {
            width: 100%;
            max-width: 700px;

            img {
                width: 100%;
            }
        }
    }

    &__form {
        width: 50%;
        margin: 0 auto;
        padding-top: 5rem;
        margin-left: 1rem;
        @include tablet {
            width: 100%;
            margin-left: 0;
            order: 1;
        }

        h1 {
            @include headingMedium;
            text-align: center;
            margin-bottom: 4rem;
        }

        .contact-form {
            display: flex;
            flex-direction: column;

            label {
                @include subhead;
                color: $darkBlue;
                margin-bottom: .5rem;
            }

            input, textarea {
                border: 2px solid $darkBlue;
                padding: .7rem;
                font-size: $tiny;
                outline: transparent;
                width: 100%;
                margin-bottom: 1.5rem;
                color: $darkBlue;
            }

            .name-fields {
                display: flex;
                justify-content: space-between;
                input {
                    width: 50%;
                    &:nth-child(1) {
                        margin-right: .5rem;
                    }
                    &:nth-child(2) {
                        margin-left: .5rem;
                    }
                }
            }

            input[type=submit] {
                @include cta;
                color: $darkBlue;
                border-color: $darkBlue;
                font-weight: 700;
                max-width: 15rem;
                align-self: flex-start;
            }
        }
    }
}