.landing {
    width: 100%;
    
    .landing-top {
        background-color: $lightGray;
        min-height: 700px;
        position: relative;
        @include tablet {
            min-height: 550px;
        }
        @include tablet-down {
            min-height: 500px;
        }
        @include mobile-down {
            min-height: 400px;
        }
        @include mobile {
            min-height: 300px;
        }

        &__img {
            width: 50%;
            max-width: 800px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            @include phone {
                width: 67%;
            }
    
            img {
                width: 100%;
            }
        }
    }

    .landing-bottom {
        background-color: $white;
        min-height: 600px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablet {
            min-height: 500px;
        }
        @include tablet-down {
            min-height: 300px;
        }

        &__img {
            width: 10rem;
            position: absolute;
            top: -7%;
            left: 50%;
            transform: translateX(-50%);
            @include tablet-down {
                top: -14%;
            }
    
            img {
                width: 100%;
            }
        }

        &__text {
            text-align: center;
            text-transform: uppercase;
            @include mobile {
                padding: 0 1rem;
            }
            
            h1 {
                font-size: $headerLarge;
                line-height: $headerLargeLH;
                font-family: 'Bebas Neue', cursive;
                color: $black;
                @include tablet {
                    font-size: $headerTablet;
                    line-height: $headerTabletLH;
                }
                @include tablet-down {
                    font-size: $headerMobile;
                    line-height: $headerMobileLH;
                }
            }
        }
    }

    &__produce-results {
        padding: 6rem 6rem;
        @include tablet-down {
            padding: 3rem 3rem;
        }

        .results-heading {  
            @include tablet-down {
                margin-bottom: 2rem;
            }

            p {
                font-family: 'Bebas Neue', cursive;
                font-size: $paragraph;
                line-height: $paragraphLH;
                @include tablet {
                    font-size: $paragraphSmall;
                }
            }

            h1 {
                font-size: $headerLarge;
                line-height: $headerLargeLH;
                font-family: 'Bebas Neue', cursive;
                color: $black;
                @include tablet {
                    font-size: $headerTablet;
                    line-height: $headerTabletLH;
                }
                @include tablet-down {
                    font-size: $headerMobile;
                    line-height: $headerMobileLH;
                }
            }
        }

        .results-images {
            position: relative;

            .green-box {
                width: 100%;
                max-height: 400px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                overflow: hidden;
                @include tablet {
                    max-height: 250px;
                }
                @include tablet-down {
                    max-height: 200px;
                }
                @include mobile-down {
                    max-height: 150px;
                }
            }

            .macaroons {
                width: 35%;
                margin: 0 auto;
            }

            img {
                width: 100%;
            }
        }

        .results-cta {
            margin-top: 5rem;
            @include tablet-down {
                margin-top: 2rem;
            }

            p {
                font-size: $headerMedium;
                line-height: $headerMediumLH;
                text-align: center;
                @include tablet {
                    font-size: $paragraph;
                    line-height: $paragraphLH;
                }
                @include phone {
                    font-size: $paragraphSmall;
                    line-height: $paragraphSmallLH;
                }
            }

            button {
                background-color: transparent;
                border: 4px solid $black;
                display: block;
                font-family: 'Bebas Neue', cursive;
                padding: 1rem 2rem;
                font-size: $paragraph;
                margin: 0 auto;
                margin-top: 3rem;
                @include tablet {
                    font-size: $paragraphSmall;
                }
            }
        }
    }
}