.landing {
    width: 100%;
    
    .landing-top {
        background-color: $lightYellow;
        min-height: 700px;
        position: relative;
        margin-top: 3.5rem;
        @include tablet {
            min-height: 550px;

        }
        @include mobile {
            min-height: 400px;
        }

        &__text {
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 1300px;

            img {
                width: 100%;
            }
        }

        &__img {
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

            @include tablet {
                margin-top: 3.5rem;
            }
            @include phone {
                width: 67%;
            }
    
            img {
                width: 100%;
                @include tablet {
                    object-fit: cover;
                }
            }
        }
    }

    .landing-bottom {
        background-color: $white;
        min-height: 600px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablet {
            min-height: 500px;
        }
        @include mobile {
            min-height: 350px;
        }
        @include phone {
            min-height: 300px;
        }

        &__img {
            width: 10rem;
            position: absolute;
            top: -7%;
            left: 50%;
            transform: translateX(-50%);
            @include tablet {
                top: -14%;
            }
    
            img {
                width: 100%;
            }
        }

        &__text {
            text-align: center;
            text-transform: uppercase;
            margin: 0 auto;
            max-width: 1300px;
            @include blockPadding;
            
            h1 {
                @include headingLarge;
            }
        }
    }

    &__produce-results {
        @include blockPadding;

        .results-heading {  
            margin: 0 auto;
            max-width: 1200px;

            @include tablet {
                margin-bottom: 2rem;
            }

            p {
                @include subhead;
            }

            h1 {
                @include headingMedium;
            }
        }

        .results-images {
            position: relative;
            margin: 0 auto;
            max-width: 1200px;

            .results-images-box {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                min-height: 65%;
                width: 100%;
                border-top-left-radius: 30px;
                border-bottom-right-radius: 30px;
                background-color: $lightBlue;

                p {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 2rem;
                    color: $white;
                    font-size: $medium;
                    line-height: $lh-medium;
                    max-width: 400px;
                    @include tablet {
                        display: none;
                    }
                }
            }

            .results-images-image {
                width: 25%;
                max-width: 450px;
                margin: 0 auto;
                @include mobile {
                    width: 38%;
                }
            }

            img {
                width: 100%;
            }
        }

        .results-cta {
            margin-top: 5rem;
            @include tablet {
                margin-top: 2rem;
            }

            button {
                @include cta;
            }
        }
    }

    &__work {
        @include blockPadding;
        background-color: $lightYellow;
        .work-heading {
            margin-bottom: 2.5rem;
            
            p {
                @include subhead;
            }

            h1 {
                @include headingMedium;
            }
        }

        .work-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 1rem;
            margin-bottom: 10rem;
            @include mobile {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(3, 1fr);
                margin-bottom: 5rem;
            }

            .work-grid-cell {
                .work-grid-cell-image {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                p {
                    @include subhead;
                    color: $lightBlue;
                }
                
                h2 {
                    @include headingSmall;
                    margin-top: 1rem;
                }
            }
        }

        .work-cta {
            button {
                @include cta;
            }
        }
    }
}