@import './contact-form';

.home {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    margin: 0 auto;
    background-color: #92e2da;
    
    &__logo {
        width: 23rem;
        display: block;
        margin: 0 auto;
    
        img {
            width: 100%;
        }
    }

    &__inner {
        display: flex;
        margin: 0 auto;
        margin-top: 2rem;
        position: relative;
        justify-content: flex-end;
        max-width: 1500px;
        @include tablet-down {
            flex-direction: column;
        }

        .home-clock {
            width: 45%;
            position: absolute;
            left: -12%;
            top: 0;
            @include tablet-down {
                position: relative;
                width: 100%;
                order: 2;
                margin-top: 5rem;
            }
            
            img {
                width: 100%;
            }
        }

        .home-right {
            width: 65%;
            padding: 2rem;
            @include tablet-down {
                padding: 0;
                width: 100%;
                order: 1;
            }

            .home-header {
                font-size: 20px;
                width: 100%;
                text-align: center;
    
                .bold-header {
                    font-family: "rust-base";
                    font-size: 60px;
                    @include tablet-down {
                        font-size: 40px;
                    }
                }
    
                .bold-header-2 {
                    font-family: "labrador-bold";
                    font-size: 45px;
                    text-transform: uppercase;
                    @include tablet-down {
                        font-size: 30px;
                    }
                }
    
                .divider {
                    height: 4px;
                    width: 90%;
                    margin: 2rem auto;
                    background-color: #000000;
                    @include tablet-down {
                        margin: 1rem auto;
                        width: 90%;
                    }
                }
    
                .light-header {
                    font-family: "labrador-light";
                    font-size: 55px;
                    line-height: 45px;
                    @include tablet-down {
                        font-size: 30px;
                        line-height: 35px;
                    }
                }
    
                @include tablet-down {
                    padding-right: 0;
                    width: 100%;
                }
            }
        }

    }
}