@import './contact-form';

.home {
    width: 100%;
    padding: $pagePadding;
    
    &__logo {
        width: 20rem;
        display: block;
        margin: 0 auto;
    
        img {
        width: 100%;
        }
    }
}