@mixin heading {
    font-size: $headerLarge;
    line-height: $headerLargeLH;
    font-family: 'Bebas Neue', cursive;
    color: $black;
    @include desktop {
        font-size: $headerTablet;
        line-height: $headerTabletLH;
    }
    @include mobile-down {
        font-size: $headerMobile;
        line-height: $headerMobileLH;
    }
}

@mixin heading2 {
    font-family: 'Frank Ruhl Libre', serif;
    text-transform: capitalize;
    font-weight: 400;
    font-size: $headerMedium;
    line-height: $headerMediumLH;
    transition: all 1s ease-in-out;
    @include desktop {
        font-size: $headerTablet;
        line-height: $headerTabletLH;
    }
    @include mobile-down {
        font-size: $headerMobile;
        line-height: $headerMobileLH;
    }
}

@mixin paragraph {
    font-size: $paragraph;
    line-height: $paragraphLH;
    font-family: 'Bebas Neue', cursive;
    @include tablet-down {
        font-size: $paragraphSmall;
        line-height: $paragraphSmallLH;
    }
}

@mixin cta {
    background-color: transparent;
    border: 4px solid $black;
    display: block;
    font-family: 'Bebas Neue', cursive;
    padding: 1rem 2rem;
    font-size: $paragraph;
    margin: 0 auto;
    margin-top: 3rem;
    cursor: pointer;
    @include tablet {
        font-size: $paragraphSmall;
    }
}

@mixin page-padding {
    padding: 6rem 6rem;
    @include tablet {
        padding: 3rem 3rem;
    }
}