// Padding

$pagePadding: 2rem;

// colors
$lightGray: #F1F2F3;
$black: #000000;
$white: #ffffff;

// font size
$headerLarge: 72px;
$headerTablet: 50px;
$headerMobile: 35px;

// line height
$headerLargeLH: 86.4px;
$headerTabletLH: 56.4px;
$headerMobileLH: 41.4px;