// Padding

$pagePadding: 2rem;

// colors
$lightGray: #F1F2F3;
$black: #000000;
$white: #ffffff;

// font size
$headerHuge: 146px;

$headerLarge: 72px;
$headerTablet: 50px;
$headerMobile: 35px;

$headerMedium: 56px;

$headerSmall: 40px;

$paragraph: 32px;
$paragraphSmall: 24px;

// line height
$headerHugeLH: 211.2px;

$headerLargeLH: 86.4px;
$headerTabletLH: 56.4px;
$headerMobileLH: 41.4px;

$headerMediumLH: 67.2px;

$headerSmallLH: 48px;

$paragraphLH: 38.8px;
$paragraphSmallLH: 28.8px;